.box1{
    background-color: aqua;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

input{
    margin: 5px;
}

.box2{
    background-color: blue;
}

.title2{
    background-color: rgb(20, 121, 209);
}

.box2-1{
    background-color: red;
}

.box2-1{
    display: flex;
}
.right-box{
    background-color: rgb(54, 160, 54);
}

.box3{
    background-color: gray;
}